<% provide (:title, 'Graphs') %>
<!doctype html>
<html>
	<head>
		<script src="../../assets/javascripts/Chart.js"></script>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		<style>
			canvas{
			}
		</style>
	</head>
	<body>
	<div class ="hero-unit">
	<h1>Track your progress</h1>
	</div>
		<canvas id="canvas" height="400" width="800"></canvas>

	<script>
		// Define the data for the graph 
		var lineChartData = {
			// X axis labels 
			labels : ["","","","","","","","","","","","","","","","","","","","",""],
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
                        // Data to display 
                        data : [
                                0.0,
                                1.453125,
                                1.140625,
                                0.828125,
                                0.0,
                                0.0,
                                3.765625,
                                3.453125,
                                3.140625,
                                2.828125,
                                2.515625,
                                0.0,
                                1.890625,
                                1.578125,
                                1.265625,
                                0.0,
                                0.0,
                                0.0,
                                2.671875,
                                0.0] 
				}
			]
			
		}
	// Draws the graph with the data defined by lineChartData into a HTML5 canvas element 
	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
	
	</script>
	</body>
</html>
