
<!DOCTYPE html>
<html>
	<body>
		<table>
		<tr>
			<td><%= image_tag("brighthearts-logo-transparent.png", :size => "300x300") %> </td>
			<td>
				<h1>BrightHearts</h1>
				<h2>Welcome to BrightHearts project!</h2>
			</td>
		</tr>
		</table>    
	</body>
</html>