<html>
<% provide(:title, "Sign in") %>
<h1>Session Heart Rates</h1>

  <div>
  <table border="1" >
  <tr> 
	    <th> Session ID </th>
	    <th> Created at </th>
	    <th> Time </th>
	    <th> Heart Rate </th>
	  </tr>
	  <% @session_heart_rate.each do |session_heart_rate| %> 
	  <tr>
	    <td> <%= session_heart_rate.id %> </td>
		<td> <%= session_heart_rate.created_at %> </td>
		<td> <%= session_heart_rate.time %> </td>
		<td> <%= session_heart_rate.heart_rate %> </td>
	  </tr>
	  <% end %>
  </table>
  </div>
</html>
