<html>
<% provide(:title, "Sign in") %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "session_graph"
      }, 
      title: {
        text: "Lomb Frequency Analysis or something rather" 
      }
      xAxis: {
        type: "datetime"
      }, 
      yAxis: {
        title: {
          text: "Heart Rate"
        }
      }, 
      series [{
        data: [1,2,5,7,9]
      }]
    });
  });
</script>

<h1>Session Heart Rates</h1>
<div id = "session_graph" style"width:400px; height:300px;"> </div>

  <div>
  <table border="1" >
  <tr> 
	    <th> Session ID </th>
	    <th> Created at </th>
	    <th> Time </th>
	    <th> Heart Rate </th>
	  </tr>
	  <% @session_heart_rate.each do |session_heart_rate| %> 
	  <tr>
	    <td> <%= session_heart_rate.id %> </td>
		<td> <%= session_heart_rate.created_at %> </td>
		<td> <%= session_heart_rate.time %> </td>
		<td> <%= session_heart_rate.heart_rate %> </td>
	  </tr>
	  <% end %>
  </table>
  </div>
</html>
