<!-- Any? returns true if there are elements present -->
<% if @user.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
            <!-- errors.count returns the number of errors -->
            <!-- pluralize returns pluralized version of its second argument, error in this case -->
            The form contains <%= pluralize(@user.errors.count, "error") %>
        </div>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
